/* Combinación de selectores para las mismas reglas (,) */

h1, 
h2 {
    color: violet;
}

/* Combinación de selectores unidos */

div.texto {
    color: green;
}

/* Combinación de selectores descendientes ( ) */

.star-wars li {
    color: crimson;
}

/* Combinación de selectores descendientes directos (>)  */

.contenedor > h1 {
    color: brown;
}

/* Combinación de selectores hermanos en general (~)  */

.primogenito ~ .hermano-normal {
    color: blue;
}

/* Combinación de selectorres hermanos adydacente  (+)  */

.primogenito-2 + .hermano-normal-2 {
    color: goldenrod;
}